@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.card {
  background-color: $soft-bg;
  color: $main-color;
  padding: 20px;
  width: 100%;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  @include sm {
    flex-direction: column;
  }
  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    @include sm {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }
    .title {
      opacity: 75%;
    }
    .value {
      font-size: 23px;
      font-weight: 700;
      @include sm {
        font-size: 18px;
      }
    }
    .change {
      .percentage {
        display: flex;
        align-items: baseline;
        gap: 3px;
      }
      .time {
        font-size: 12px;
        opacity: 60%;
        // color:red;
      }
    }
  }
  .rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
