@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}
