@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.main {
  display: flex;
  background-color: $main-bg;
  color: $main-color;
  min-height: 100vh;
  width: 100vw;
  .menuContainer {
    padding: 5px 20px;
    width: 180px;
    background-color: $second-bg;
    @include lg {
      width: 50px;
      padding: 5px 5px;
    }
    @include sm {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      padding: 5px 5px;
      z-index: 9999;
      opacity: 80%;
    }
  }
  .contentSection {
    display: flex;
    width: calc(100% - 180px);
    flex-direction: column;
    &.menuClose {
      width: 100%;
    }
    @include lg {
      width: calc(100% - 50px);
    }
    @include sm {
      width: 100%;
    }
    .navbar {
      width: 100%;
    }
    .content {
      width: 100%;
      padding: 5px 20px;
    }
  }
}

.menuClose {
  display: none;
}
.menuBtn {
  position: fixed;
  top: 64px;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #313a46;
  color: rgb(255, 255, 255);
  font-size: 24px;
  z-index: 9999;
}
