.container{
  width: 100%;
}
.dataGrid {
  min-height: 400px;
  width: "100%";
  background-color: white;
  .action {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    .viewIcon{
      cursor: pointer;
      color: rgba(6, 188, 45, 0.712);
      font-size: 16px;
    }
    .deleteIcon{
      color: rgba(255, 0, 0, 0.819);
    }
    .editIcon{
      color: rgba(88, 88, 172, 0.937);
    }
    img {
      cursor: pointer;
    }
  }
}
